                              <!-- welcome begins -->
                              <table summary="" cellpadding="0" cellspacing="0" border="0" width="390" height="100%">
                                <tr><td class="welcomeTitle" height="20">WELCOME TO NCI EVS General Purpose Report Writer</td>
                                </tr>
                                <tr>
<td class="welcomeContent" valign="top">
The NCI EVS General Purpose Report Writer is a web-based tool that will allow users to generate reports from a specified data source and download/print them to a specified file type or format (e.g. Excel, tab-delimited).   It will allow for the generation of standard reports (with predefined criteria and outputs) and custom reports where the user must provide the tool with the required search criteria and desired output data.
</td>
                                </tr>
                              </table>
                              <!-- welcome ends -->