ncireportwriter
{
    gov.nih.nci.security.authentication.loginmodules.RDBMSLoginModule Required 
    driver="com.mysql.jdbc.Driver" 
    url="jdbc:mysql://localhost:3306/ncirw" 
    user="root" 
    passwd="password" 
    encryption-enabled="YES"
    query="SELECT * FROM CSM_USER WHERE LOGIN_NAME=? and PASSWORD=?";
};

csmupt
{
    gov.nih.nci.security.authentication.loginmodules.RDBMSLoginModule Required 
    driver="com.mysql.jdbc.Driver" 
    url="jdbc:mysql://localhost:3306/ncirw" 
    user="root" 
    passwd="password" 
    encryption-enabled="YES"
    query="SELECT * FROM CSM_USER WHERE LOGIN_NAME=? and PASSWORD=?";
};