rwdbserver{
  gov.nih.nci.security.authentication.loginmodules.RDBMSLoginModule Required
  driver="org.gjt.mm.mysql.Driver"
  url="jdbc:mysql://@db_host@:@db_port@/reportwriter"
  user="@db_user@"
  passwd="@db_password@"
  query="SELECT * FROM csm_user WHERE login_name=? and password=?"
  encryption-enabled="YES";
};


/**
rwdbserver{
  gov.nih.nci.security.authentication.loginmodules.LDAPLoginModule Required
  ldapHost="ldaps://ncids4a.nci.nih.gov:636"
  ldapSearchableBase="ou=nci,o=nih"
  ldapUserIdLabel="cn";
};
**/